<header class="header">
  <h1 class="logo"><%= link_to 'Sankofa', root_path %></h1>
  <ul class="main-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><%= link_to 'Blog', root_path %></li>
    <li><a href="#">Contact</a></li>
  </ul>
</header>