<div class="index_page ">
  <% @posts.each do |post| %>
  <div class="index_title">
    <h2><%= link_to post.title, post %></h2>
    <span><%= time_ago_in_words(post.created_at) %></span>
  </div>
  <p></p>
  <p class="index_p"><%= truncate(post.content, length: 160) %></p>
  <% end %>
</div>