@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,400i,700&display=swap');
@import 'posts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
// UTILLS
.container {
  width: 80%;
  margin: 0 auto;
}
.tac {
  text-align: center;
}
a {
  text-decoration: none;
  color:#828b8f;
}